
  
  /*----------------main-wrapper----------------*/


  .main-wrapper {
    top: 42px;
    max-height: 100%;
    height: 100%;
    max-width: 100%;
    width: 100%;
    
    overflow-y: auto;
    position: fixed;
  }

  .main-wrapper .theme {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 4px;
    margin: 2px;
  }
  
  .main-wrappe .theme.chiller-theme {
    background: #1e2229;
  }

  /*----------------toggeled sidebar----------------*/
  
  .main-wrapper.toggled .sidebar-wrapper {
    left: 0px;
  }
  
  @media screen and (min-width: 768px) {
    .main-wrapper.toggled .page-content {
      padding-left: 300px;
    }
  }

  /*----------------topbar----------------*/
  .topbar-navbar {
    top: 0px;
  }

  .topbar-navbar {
    display: flex;
    width: 100%;
    height: 42px;
    position: fixed;
    top: 0;
    left: 0px;
    z-index: 999;
  }

  
  

/*--------------------topbar-brand----------------------*/
  
  .topbar-navbar .topbar-brand {
    padding: 10px 20px;
    height: 100%;
    align-items: center;
    width: 260px;
    display: none;
  }

  .topbar-navbar .topbar-brand a > span {
    text-transform: uppercase;
    padding-left: 10px;
    font-weight: bold;
    flex-grow: 1;
  }

  .topbar-navbar .topbar-brand .brand-icon {
    width: 20px;
    height: 20px;
  }

  .topbar-navbar .topbar-content {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    flex-grow: 100%;
  }
  
  /*--------------------topbar-items----------------------*/
  
  .topbar-navbar .topbar-content .nav-toolbar {
    list-style: none;
    margin: 0px;
    padding: 0px;
    height: 100%;
  }
  
  .topbar-navbar .topbar-content .nav-toolbar.nav-left {
    float: left;
  }

  .topbar-navbar .topbar-content .nav-toolbar.nav-right {
    float: right;
  }

  .topbar-navbar .topbar-content .nav-toolbar .nav-toolbar-item {
    top: 0px;
    display: inline-block; 
    align-items: center;
    height: 100%;
  }

  .topbar-navbar .topbar-content .nav-toolbar .nav-toolbar-item.icon {
    width: 50px;
  }

  .topbar-navbar .topbar-content .nav-toolbar .nav-toolbar-item.avatar {
    width: 120px;
  }

  .topbar-navbar .topbar-content .nav-toolbar .nav-toolbar-item .nav-dropitem-link {
    display: inline-block;
    position: relative;
    line-height: 42px;
    width: 100%;
    text-align: center;
  }
  
  .topbar-navbar .topbar-brand>a:hover {
    text-decoration: none;
  }
  
  
  .topbar-navbar .topbar-content .nav-toolbar .nav-toolbar-item.avatar span {
    display: inline-block;
    position: relative;
    padding: 0px 5px;
    height: 100%;
    top: 0px;
    margin: 0px;
  }


  .topbar-navbar .topbar-content .nav-toolbar .nav-toolbar-item.avatar img {
    width: 30px;
    height: 30px;
    border-radius: 1000px;
  }

  .topbar-navbar .topbar-content .nav-toolbar .nav-toolbar-item.avatar i {
    position: absolute;
    border-radius: 15px;
    border: 2px solid #fff;
    right: 3px;
    bottom: 3px;
    width: 10px;
    height: 10px;
  }

  .topbar-navbar .topbar-content .nav-toolbar .nav-toolbar-item.avatar .avatar-online i {
    background-color: #11c26d;
  }

  .badge.up {
    position: relative;
    top: -10px;
    margin: 0 -.8em;
    border-radius: 15px
  }

  /*----------------------------- dropdown menu -------------------------------------------------*/
  .topbar-navbar .topbar-content .nav-toolbar .nav-toolbar-item .nav-toolbar-dropdown-menu {
    position: absolute;
    box-shadow: 0 3px 12px rgba(0,0,0,.05);
    transition: .25s;
    width: 300px;
    height: 300px;
    z-index: 1200;
    margin-top: 3px;
    margin-right: 3px;

    display: flex;
    flex-direction: column;
  }
  .topbar-navbar .topbar-content .nav-toolbar .nav-toolbar-item .nav-toolbar-dropdown-menu 
  .dropdown-menu-header, .dropdown-menu-footer {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .topbar-navbar .topbar-content .nav-toolbar .nav-toolbar-item .nav-toolbar-dropdown-menu 
  .dropdown-menu-header h5 {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    flex-grow: 1
  }

  .topbar-navbar .topbar-content .nav-toolbar .nav-toolbar-item .nav-toolbar-dropdown-menu 
  .dropdown-menu-header span {
    display: inline-block;
    margin-right: 10px;
    height: 15px;
  }

  .topbar-navbar .topbar-content .nav-toolbar .nav-toolbar-item .nav-toolbar-dropdown-menu 
  .dropdown-menu-container
   {
    flex-grow: 1;
  }

  .topbar-navbar .topbar-content .nav-toolbar .nav-toolbar-item .nav-toolbar-dropdown-menu.menu-right {
    right: 0px;
    left: auto;
  }

  /*-----------------------------toggled-------------------------------------------------*/

  .main-wrapper.toggled .topbar-brand {
    display: inline-flex;
  }

  @media screen and (max-width: 600px) {
    .main-wrapper.toggled .topbar-brand {
      display: none;
    }
  }

  /*-----------------------------chiller-theme-------------------------------------------------*/
  
  .chiller-theme .sidebar-wrapper {
      background: #31353D;
  }
  
  .chiller-theme .topbar-navbar {
    background: #31353D;
  }
  
  .chiller-theme .topbar-navbar  a:hover, 
  .chiller-theme .topbar-navbar  a:link, 
  .chiller-theme .topbar-navbar  a:visited {
      color: #b8bfce;
  }

  .chiller-theme .topbar-navbar .topbar-content .nav-toolbar .nav-toolbar-item .nav-dropitem-link:hover {
    background: #1e2229;
  }

  .chiller-theme .topbar-navbar .topbar-content .nav-toolbar .nav-toolbar-item .nav-toolbar-dropdown-menu {
    color: #76838f;
    background-color: #fff;
    border: 1px solid #e4eaec;
  }