
  
  /*----------------main-wrapper----------------*/


  .main-wrapper {
    top: 42px;
    max-height: 100%;
    height: 100%;
    max-width: 100%;
    width: 100%;
    
    overflow-y: auto;
    position: fixed;
  }

  .main-wrapper .theme {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 4px;
    margin: 2px;
  }
  
  .main-wrappe .theme.chiller-theme {
    background: #1e2229;
  }

  /*----------------toggeled sidebar----------------*/
  
  .main-wrapper.toggled .sidebar-wrapper {
    left: 0px;
  }
  
  @media screen and (min-width: 768px) {
    .main-wrapper.toggled .page-content {
      padding-left: 300px;
    }
  }

  /*----------------topbar----------------*/
  .topbar-navbar {
    top: 0px;
  }

  .topbar-navbar {
    display: inline-block;
    width: 100%;
    height: 42px;
    position: fixed;
    top: 0;
    left: 0px;
    z-index: 999;
  }

  
  

/*--------------------topbar-brand----------------------*/
  
  .topbar-navbar .topbar-brand {
    padding: 10px 20px;
    height: 100%;
    align-items: center;
    width: 260px;
    display: none;
  }

  .topbar-navbar .topbar-brand a > span {
    text-transform: uppercase;
    padding-left: 10px;
    font-weight: bold;
    flex-grow: 1;
  }

  .topbar-navbar .topbar-brand .brand-icon {
    width: 20px;
    height: 20px;
  }

  /*--------------------topbar-items----------------------*/
  
  .topbar-navbar .nav-toolbar {
    list-style: none;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100px;
    display: inline-flex;
  }
  

  .topbar-navbar .nav-toolbar .nav-toolbar-item {
    top: 0px;
    width: 100%;
    align-items: center;
    height: 100%;
  }

  @keyframes infinite-spinning {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .topbar-navbar .nav-toolbar .nav-toolbar-item .nav-dropitem-link {
    display: inline-block;
    position: relative;
    line-height: 42px;
    width: 100%;
    text-align: center;
  }
  
  .topbar-navbar .topbar-brand>a:hover {
    text-decoration: none;
  }

  .nav-toolbar .nav-close-button {
    animation: infinite-spinning 2s alternate ease-in-out;
  }
  
  /*-----------------------------toggled-------------------------------------------------*/

  .main-wrapper.toggled .topbar-brand {
    display: inline-flex;
  }

  @media screen and (max-width: 600px) {
    .main-wrapper.toggled .topbar-brand {
      display: none;
    }
  }

  /*-----------------------------chiller-theme-------------------------------------------------*/
  
  .chiller-theme .sidebar-wrapper {
      background: #31353D;
  }
  
  .chiller-theme .topbar-navbar {
    background: #31353D;
  }
  
  .chiller-theme .topbar-navbar  a:hover, 
  .chiller-theme .topbar-navbar  a:link, 
  .chiller-theme .topbar-navbar  a:visited {
      color: #b8bfce;
  }

