
  
  /*----------------main-wrapper----------------*/


  .main-wrapper {
    top: 42px;
    max-height: 100%;
    height: 100%;
    max-width: 100%;
    width: 100%;
    
    overflow-y: auto;
    position: fixed;
  }

  .main-wrapper .theme {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 4px;
    margin: 2px;
  }
  
  .main-wrappe .theme.chiller-theme {
    background: #1e2229;
  }

  /*-------------------- toggeled sidebar ----------------------*/
  .main-wrapper.toggled .sidebar-wrapper {
    left: 0px;
  }
  
  @media screen and (min-width: 768px) {
    .main-wrapper.toggled .page-content {
      padding-left: 300px;
    }
  }

  /*-------------------- toggled ----------------------*/
  @media screen and (max-width: 600px) {
    .main-wrapper.toggled .navbar.top .brand {
      display: none;
    }
  }

  .main-wrapper.toggled .navbar.top .brand {
    display: inline-flex;
  }

  /*-------------------- navbar top ----------------------*/

  .navbar.top {
    position: fixed;
    display: inline-flex;
    top: 0px;
    left: 0px;
    padding: 0px;
    z-index: 999;
  }

  .navbar.top.size {
    width: 100%;
    height: 42px;
  }
/*-------------------- navbar top brand ----------------------*/
  
  .navbar.top .brand {
    padding: 10px 20px;
    height: 100%;
    align-items: center;
    width: 260px;
    display: none;
  }

  .navbar.top .brand a > span {
    text-transform: uppercase;
    padding-left: 10px;
    font-weight: bold;
    flex-grow: 1;
  }

  .navbar.top .brand .icon {
    width: 20px;
    height: 20px;
  }

  /* .topbar-navbar .topbar-brand>a:hover {
    text-decoration: none;
  } */

  /*-------------------- navbar top content ----------------------*/
  .navbar.top .content {
    flex-grow: 1;
    margin: 0px;
    padding: 0px;
    height: 100%;
    left: 0px;
    top: 0px;
  }
  
  /*--------------------topbar-items----------------------*/
  
  .navbar .items {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }

  .navbar.top .items.size {
    height: 100%;
  }
  
  .navbar .items.left {
    float: left;
  }

  .navbar .items.right {
    float: right;
  }

  .navbar .items .item {
    top: 0px;
    display: inline-block; 
    align-items: center;
  }

  .navbar .items .item.size {
    height: 100%;
  }

  .navbar .items .item.icon {
    width: 50px;
  }

  .navbar .items .item.avatar {
    width: 120px;
  }

  .navbar .items .item .nav-link {
    display: inline-block;
    position: relative;
    padding: 0px;
    line-height: 42px;
    width: 100%;
    text-align: center;
  }
  
  .navbar.top .items .item.avatar span {
    display: inline-block;
    position: relative;
    padding: 0px 5px;
    height: 100%;
    top: 0px;
    margin: 0px;
  }


  .navbar.top .items .item.avatar img {
    width: 30px;
    height: 30px;
    border-radius: 1000px;
  }

  .navbar.top .items .item.avatar i {
    position: absolute;
    border-radius: 15px;
    border: 2px solid #fff;
    right: 3px;
    bottom: 3px;
    width: 10px;
    height: 10px;
  }

  .navbar.top .items .item.avatar .online i {
    background-color: #11c26d;
  }

  .badge.up {
    position: relative;
    top: -10px;
    margin: 0 -.8em;
    border-radius: 15px
  }

  /*----------------------------- dropdown -------------------------------------------------*/
  .navbar.top .items .item .dropdown {
    position: absolute;
    z-index: 1200;
    display: flex;
    flex-direction: column;
  }

  .navbar.top .items .item .dropdown.style {
    box-shadow: 0 3px 12px rgba(0,0,0,.05);
    transition: .25s;
    margin-top: 3px;
    margin-right: 3px;
  }

  .navbar.top .items .item .dropdown.size {
    width: 300px;
    height: 300px;
  }

  .navbar.top .items .item .dropdown.right {
    right: 0px;
    left: auto;
  }

  .navbar.top .items .item .dropdown 
  .header, .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .navbar.top .items .item .dropdown 
  .header.size, .footer.size {
    height: 50px;
  }

  .navbar.top .items .item .dropdown 
  .header h5 {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    flex-grow: 1
  }

  .navbar.top .items .item .dropdown 
  .header span {
    display: inline-block;
    margin-right: 10px;
    height: 15px;
  }

  .navbar.top .items .item .dropdown 
  .container
  {
    flex-grow: 1;
  }
  

  /*-----------------------------chiller-theme-------------------------------------------------*/
  
  .chiller-theme .sidebar-wrapper {
      background: #31353D;
  }
  
  .chiller-theme .navbar.top {
    background: #31353D;
  }
  
  .chiller-theme .navbar.top  a:hover, 
  .chiller-theme .navbar.top  a:link, 
  .chiller-theme .navbar.top  a:visited {
      color: #b8bfce;
  }

  .chiller-theme .navbar.top .items .item .nav-link:hover {
    background: #1e2229;
  }

  .chiller-theme .navbar.top .items .item .dropdown {
    color: #76838f;
    background-color: #fff;
    border: 1px solid #e4eaec;
  }